# Boston Crime Analysis

# 2 questions to answer

+ Nature of the crimes in Boston
+ heterogeneity of the impact of criminality

# Title

In [1]:
# Load the dataset
from data import load_data_viz_data

data = load_data_viz_data()
data[['LAT','LONG']] = data[['LAT','LONG']].astype('float64')

print("Shape of the DataFrame:", data.shape)

data.head()

Shape of the DataFrame: (237221, 9)

,INCIDENT_NUMBER,OFFENSE_CODE_GROUP,SHOOTING,OCCURRED_ON_DATE,LAT,LONG,NAME,LAT_POLICE_STATION,LONG_POLICE_STATION
0,I192068249,Other,0,2015-08-28 10:20:00,42.330119,-71.084251,Roxbury,42.328894,-71.085359
1,I182074094,Violence and harassment,0,2015-09-14 09:31:00,42.315142,-71.067047,Roxbury,42.328894,-71.085359
2,I182054888,Violence and harassment,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
3,I182054888,Other,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
4,I182054888,Other,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359

In [3]:
brighton_df = data[data.NAME == 'Brighton']
brighton_df.head(3)
brighton_df.groupby('OFFENSE_CODE_GROUP').count()['INCIDENT_NUMBER'].sort_values()

OFFENSE_CODE_GROUP
Disputes                           563
Drugs and disorderly conduct       809
Other                              925
Violence and harassment           1627
Fraud and law violations          1807
Police investigation procedure    2783
Larceny and vandalism             5274
Name: INCIDENT_NUMBER, dtype: int64

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

# Title

# Title